.git
.gitignore
.github

node_modules
js
coverage
dist
build

.env
.env.*
!.env.example

geocoderCache.json
observations.json
baselineEToData/Baseline_ETo_Data.bin

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.idea
.DS_Store
Thumbs.db
